/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* RESETS */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --soft-red: #ec775f;
  --cyan: #76b5bc;
  --dark-brown: #382314;
  --medium-brown: #93867b;
  --cream: #f8e9dd;
  --very-pale-orange: #fffaf5;
  --white: #ffffff;
}

/* GLOBAL STYLES */
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD */
.main-container {
  border: 1px solid black;
  width: 100%;
  width: clamp(300px, 100%, 540px);
  margin: 1rem;
}
/* balance-section */
.balance-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--soft-red);
  border-radius: 10px;
  margin-bottom: 1rem;
  color: var(--white);
}
.balance-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.balance-section-left__title {
  font-size: 15px;
  font-weight: 400;
}
.balance-section-left__amount {
  font-size: 1.5rem;
  font-weight: 700;
}
