/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* RESETS */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --soft-red: #ec775f;
  --cyan: #76b5bc;
  --dark-brown: #382314;
  --medium-brown: #93867b;
  --cream: #f8e9dd;
  --very-pale-orange: #fffaf5;
  --white: #ffffff;
  --orange-hover: #ff9b86;
}

/* GLOBAL STYLES */
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

/* CARD */
.main-container {
  border: 1px solid black;
  width: clamp(280px, 100%, 540px);
}
/* balance-section */
.balance-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--soft-red);
  border-radius: 10px;
  margin-bottom: 1rem;
  color: var(--white);
}
.balance-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.balance-section-left__title {
  font-size: 15px;
  font-weight: 400;
}
.balance-section-left__amount {
  font-size: 1.5rem;
  font-weight: 700;
}

/* GRAPH */

.graph-section {
  padding: 20px;
}
.graph-section h2 {
  margin-bottom: 1rem;
}
.graph-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  /* align-items: center; */
}
.day-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 250px;
}

.graph-bar-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  width: 100%;
}

.graph-bar {
  width: 70%;
  background-color: var(--soft-red);
  margin: 0 auto;
  flex-basis: 90%;
  border-radius: 8px;
}
.day {
  font-size: 14px;
}
.daily-amount-spent {
  background-color: black;
  padding: 8px 5px;
  text-align: center;
  color: white;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
  font-size: 10px;
}

.hidden {
  /* display: none; */
  visibility: hidden;
}

.graph-bar:hover {
  background-color: var(--orange-hover);
}
.graph-bar:hover + .hidden,
graph-bar:active + .hidden {
  visibility: visible;
}
