/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* RESETS */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* VARIABLES */
:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

/* GLOBAL STYLES */
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background-color: var(--very-pale-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: minma;
}
:root {
  font-size: 15px;
}
/* CARD */
/* balance-section */
.balance-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
